body{
    width: 100%;
    margin: 0;
}
#navbar
{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #be3144;
}

.navbar-list
{
    display:flex;
    margin-right: 5%;
    list-style: none;
}

li
{
    padding-left: 15px;
}

.navbar-list a
{
    display: block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.navbar-list a:hover
{
    background: #45567d;
}
#welcome-section{
    display: flex;
    height: 100%;
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
    
}
#welcome-section h1{
    font-size: 35px;
    margin-bottom: 0;
}
#welcome-section p{
    color: #be3144;
    font-size: 20px;
}
#projects{
    
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #45567d;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
       
}
#project-title{
    font-size: 35px;
}

#portfolio
{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #303841;
    padding-top:80px;
    padding-bottom: 80px;
    border-bottom: 5px solid darkred;
}

#portfolio h2
{
    color: #fff;
    font-size: 35px;
    margin-bottom: 0;
}

#portfolio p
{
    color: #fff;
    font-size: 20px;
    font-style:italic;
}

#portfolio a img{
    margin-left: 30px;
}

#portfolio-link a{
    color: aqua;
    font-size: large;
    text-decoration: none;
}
#portfolio-link a:hover{
    font-size: x-large;
}

#portfolio a img:hover{
    transform: scale(1.5);
    transition-duration: 1s;
}

#Developers{
    background-color: #303841;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
    text-align: center;
}

#Developers p{
    text-align: right;
    padding-right: 30px;
    font-size: medium;
}

@media screen and (max-width: 800px) {
    #portfolio-link{
        background-color: darkred;
    }
    
}